FILES
.deps
*.d
*.out
*.o
junk
make.log
.*.swp
Makefile_*.deps
*.T
releases
.DS_Store

#
# Byproducts from building and running the test_app
#
test_app
c-agent.log
c_agent.log

#
# Byproducts from make all
#
libnewrelic.a
libnewrelic.o
